$darksteam: #101412;

html {
	background: url(../img/background-img.png) center center fixed;
	background-size: cover;
	letter-spacing: 1px;
}

.enter-url, .enter-login {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
	background-color: $darksteam;
}

body {
	background: rgba(0, 0, 0, 0);
}

.container-fluid {
	min-width: 308px;
}
.center-box {
	background-color: rgba(22,22,22,.7);
	width: 50%;
	min-width: 308px;
	color: white;
	padding: 1em;
	margin: auto;
	border-radius: 4px;
	box-shadow: 2px 2px 40px black;
}

.banners {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	max-height: 100%;
    max-width: 100%;
    overflow:hidden;
    cursor: pointer;
}

.banner-container {
	width: 100%;
}

.banners-row {
	margin-top: -1px;
}

.banners img {
	width: 100%;
	height: 100%;
}

.game-news {
	overflow: hidden;
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		font-size: 1.4em;
	}
}

.notes-img {
	display: block;
	margin: 0 auto;
	width: 100%;
	img {
		display: block;
		margin: 0 auto;
	}
}

.glyphicon-remove, .glyphicon-star-empty {
	position: absolute;
	font-size: 1.5em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.glyphicon-remove {
	color: #af0a0a;
	top: 2px;
	right: 2px;
}

.img-container:hover {
	box-shadow: 0px 0px 50px purple;
	z-index: 999;
	transition-duration: .4s;
}

.img-container {
	transition-duration: 1s;
}

.filter-btn, .all-games-btn {
	width: 10%;
	margin-top: .5em;
	display: inline-block;
	min-width: 135px;
}

.input-box {
	color: black;
	border-radius: 4px;
}

.navbar-right {
	padding-top: 1em;
	margin-right: auto;
}

.nav-links {
	color: white;
	margin-left: 1em;
	cursor: pointer;
}

.login {
	margin-bottom: 1em;
}

.login-btn, .register-btn {
	border-radius: 4px;
	color: white;
	background-color: $darksteam;
}

.enter-url-btn {
	display: block;
	border-radius: 4px;
	color: white;
	background-color: $darksteam;
	margin: 1em auto;
}