

.enter-url, .enter-login {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.banners {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	max-height: 100%;
    max-width: 100%;
    overflow:hidden;
}

.banner-container {
	width: 100%;
}

.banners-row {
	margin-top: -20px;
}

.banners img {
	width: 100%;
	height: 100%;
}

.game-news {
	overflow: hidden;
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		font-size: 1.4em;
	}
}

.glyphicon-remove, .glyphicon-star-empty {
	position: absolute;
	font-size: 1.5em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.glyphicon-remove {
	color: #af0a0a;
	top: 2px;
	right: 2px;
}

.img-container:hover {
	box-shadow: 0px 0px 50px purple;
	z-index: 999;
	transition-duration: .4s;
}

.img-container {
	transition-duration: 1s;
}