<div ng-include="'partials/navbar.html'"></div>
<div class="enter-url-container center-box">
	<div class="enter-url">


		<h3>Enter Steam Vanity URL or Numeric Steam ID</h3>
		<input class="input-box" type="text" ng-model="steamURL">
		<button ng-click="enterSteamName()">click me</button>
		<h3>How to find Vanity URL/Numeric Steam ID in Steam Client</h3>
		<p> Open up your Steam client and choose View, then click Settings. Choose Interface and check the box that reads, "Display Steam URL address when available" Click OK. Now click on your Steam Profile Name and select View Profile. It will be at the top of the browser. Only include the name/number after the 'id' <em>without</em> the '/' at the end</p>

		<p>example: http://steamcommunity.com/id/<b>an_angry_bear</b>/</p>

	</div>
</div>