<div ng-include="'partials/navbar.html'"></div>
<div class="enter-login center-box">
  <section class="user-form">
    <h1>Login or Register</h1>
    <div>
      <input class="input-box" type="email" placeholder="Enter Email..." ng-model="account.email">
    </div>
    <div>
      <input class="input-box"  type="password" placeholder="Password..." ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-info" ng-click="login()">Log in</button>
      <button class="btn btn-default" ng-click="register()">Register</button>
    </div>
  </section>
</div>