<nav class="navbar navbar-inverse" ng-controller="NavController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Patch Notes</a>
      <ul class="navbar-right">
      	<button ng-hide="userCheck()" ng-click="goLoginPage()" type="button" class="btn btn-default navbar-btn">Log in/Register</button>
      	<button ng-show="userCheck()" ng-click="logOut()" type="button" class="btn btn-default navbar-btn">Log Out</button>
      	<button ng-click="resetRemoved()" type="button" class="btn btn-default navbar-btn">Reset</button>
      </ul>
    </div>
  </div>
</nav>