<nav class="navbar navbar-inverse" ng-controller="NavController">
  <div class="container-fluid">
    <!-- <div class="navbar-header"> -->
      <a class="navbar-brand" href="#">Patch Notes</a>
      <ul class="navbar-right">
      	<a class="nav-links" ng-hide="userCheck()" ng-click="goLoginPage()">Log in/Register</a>
      	<a class="nav-links" ng-show="userCheck()" ng-click="logOut()">Log Out</a>
      	<a class="nav-links" ng-show="gameListCheck() && userCheck()" ng-click="resetRemoved()">Reset</a>
      </ul>
    <!-- </div> -->
  </div>
</nav>