<nav class="navbar navbar-inverse" ng-controller="NavController">
    <div class="container">
          <a class="navbar-brand" href="#">Patch Notes</a>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hamburger glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <ul class="dropdown-menu">
                  	<li><a ng-show="gameListCheck() && userCheck()" ng-click="resetRemoved()">Reset Removed Games</a></li>
        	  	    <li><input ng-show="gameListCheck() && userCheck()" type="text" class="form-control filter-btn" placeholder="Filter Top Games" ng-model="searchFilter.filterTitle"></li>
        	  	    <li><input ng-show="gameListCheck() && userCheck()" ng-focus="focus=true" ng-blur="focus=false" type="text" class="form-control all-games-btn" placeholder="Search all games" ng-model="allGamesSearch"></li>
        	  	    <ul ng-show="focus" class="results">
        	  			<li ng-repeat="game in allGames | filter:allGamesSearch | orderBy:'name' | limitTo:6"><a ng-mousedown="goToClickedGame(game.appid)">{{game.name}}</a></li>
        	  		</ul>
        	  		<li ng-show="gameListCheck() && userCheck()" class="divider"></li>
                    <li><a ng-hide="userCheck()" ng-click="goLoginPage()">Log in/Register</a></li>
                  	<li><a ng-show="userCheck()" ng-click="logOut()">Log Out</a></li>
                </ul>
            </li>
        </ul>
      </div>
  </div>
</nav>
